*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#rest{
    position: relative;
    top: 150px;
}

/* horizontalni meni */
nav{
    position: fixed;
    top:0px;
    width: 100%;
}
nav ul{
    overflow: hidden;
    list-style-type: none;
}

/* najbitnjije za funkcionalnost float, overflow, display block kod a */
nav ul li{
    float: left;
    background-color: rgb(85, 81, 81);
    border: 2px solid blueviolet;
    width: 25%;
    text-align: center;
}
nav ul li a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    display: block;
    padding: 8px 0;
}

/* ovde je dodat a jer mi nije odvojilo celine */
nav ul li a:hover{
    background-color: rgb(78, 20, 78);
}

/* padajuci meni */
.submenu{
    display: none;
}
.dropdown:hover .submenu {
    display: block;
}

/* vertikalni meni */
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer ul{
    list-style-type: none;
}
footer ul li{
    width: 25%;
    background-color: rgb(136, 66, 136);
}
footer ul li a{
    display: block;
    padding: 10px 0 10px 5px;
    text-decoration: none;
    color: whitesmoke;
}
footer ul li a:hover{
    background-color: tomato;
}