
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.row{
    width: 100%;
    overflow: hidden;
}
[class*="col-"]{
    float: left;
}

/* uvek je isto kod svakog css za responsive kad radimo */

/* mobile */
@media screen and (max-width: 600px){
    [class*="col-"]{
        width: 100%;
    }
}

/* desktop */

@media screen and (min-width: 601px){
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}
 /* stilizovanje stranice */


 /* header i footer */
 header, footer{
     background-color: aqua;
     text-align: center;
     padding: 15px 0;
 }
 footer{
    /* fiksiranje footera za donju ivicu ekrana */
     position: fixed;
     bottom: 0;
 }


 /* navigacija */
 nav ul{
     list-style-type: none;
     background-color: rgb(39, 172, 172);
 }
 nav ul li{
     border-bottom: 1px solid aqua;
 }
 nav ul li a{
     text-decoration: none;
     padding: 10px;
     /* da bude sve klikabilno, ceo element: */
     display: block;
 }
 nav ul li:hover{
     background-color: aqua;
 }

 /* gradientna boja */
 aside, .gradient{
     background-image: linear-gradient(rgb(39, 172, 172), white);
 }

 /* slike */

 img{
     width: 100%;
 }
 .gradient{
     margin-bottom: 30px;
 }